<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block main_title %}
    <title>Title</title>
    {% endblock %}
    {% load static %}
    <link href="{% static 'css/bootstrap.min.css' %}" >
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>
<body>
{% block main_body %}
<h1>This is the Index page</h1>
{% endblock %}
</body>
</html>