login page will be here<br>

<form method="POST">
    {% csrf_token %}
    <label for="username">Username</label>
    <input type="text" placeholder="username" id = "username" name = "username">
    <input type="password" id="password" name = "password">
    <input type="submit">
</form>

to register go <a href="{% url 'register' %}">here</a>.